html
	head

		//- !-- Mandatory videojs include! --
		link(href="../bower_components/videojs/dist/video.js" rel="stylesheet")
		link(href="../bower_components/videojs/dist/video-js.css" rel="stylesheet")
		script(src="../dist/media.soundcloud.js")

		//- To make livereload work
		script(src="http://localhost:35729/livereload.js")

		title videojs-souncloud test

	body
		h1 videojs-souncloud example
		video#myStuff(
			class="video-js vjs-default-skin"
			controls
			preload="auto"
			width="100%"
			height="360"
			)
		//- Dynamic include
		script.
			videojs("myStuff", {
			  "techOrder": ["soundcloud"],
			  "sources": ["https://soundcloud.com/vaughan-1-1/this-is-what-crazy-looks-like"],
			  }, function(){})
